.App-logo {
    height: 93.688px;
    pointer-events: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.navEntry {
    padding-top: 10px;
    color: white;
}


.navEntry:hover {
    background: rgba(98,100,167,.7);
    cursor: pointer;
}
