/* Full site, background set */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
}

/* navbar CSS */
.navWrapper {
    position: fixed;
    width: 132.48px; /* SAME AS .pageWrapper margin-left */
    height: 100%;
    float: left;
    background: #1b1e21;
}

/* CSS for anything that isn't the nav bar */
.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* text-align: center; */
    margin-left: 132.48px; /* SAME AS .navWrapper width */
    margin-top: 20px; /* SAME AS .navWrapper width */
}
